body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  background: radial-gradient(#ff7700, #ff6600) fixed;
}

canvas {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
