body, .app {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  background: radial-gradient(#ff7700, #ff6600) fixed;
}

.fork {
  img {
    display: none;
  }
}

@media screen and (min-width: 48em) {
  .fork {
    img {
      display: inherit;
      position: absolute;
      top: 0;
      right: 0;
      border: 0;
    }
  }
}
